[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypandoc = "*"

[dev-packages]
pre-commit = "*"
bumpversion = "*"
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
"pathlib2" = "*"
scandir = "*"
coveralls = "*"
twine = "*"

[requires]
python_version = "3.6"
