[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
pathlib2 = "*"
scandir = "*"
coveralls = "*"
twine = "*"
ipython = "*"
sphinx = "*"
pipenv-to-requirements = "*"
pre-commit = "*"
